MONGODB_URL=mongodb://127.0.0.1:27017/employee_management?retryWrites=true&w=majority
EXPIRESIN=720
SECRETKEY=

# redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=

#MAIL
MAIL_HOST=smtp.gmail.com
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=${MAIL_USER}
MAIL_TRANSPORT=smtp://${MAIL_USER}:${MAIL_PASSWORD}@${MAIL_HOST}
